#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2010-2012 the original author or authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="org.macula.core.configuration" />

	<import resource="classpath*:/META-INF/spring/macula-*-root.xml" />
	
	<!-- **************数据源的配置***************** -->
	<bean id="macula_dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<!-- 配置监控统计拦截的filters -->
		<property name="filters" value="stat,config" />
		<!-- 配置CAT拦截 -->
		<property name="proxyFilters">
			<list>
				<bean class="org.macula.plugins.cat.druid.CatFilter" />
			</list>
		</property>
		<!-- 配置数据源连接 -->
		<property name="connectionProperties"
			value="config.file=classpath:#{T(org.macula.Configuration).getProfilePath()}druid-macula.properties" />
	</bean>


	
	<bean id="${parentArtifactId}_dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
	    <!-- 基本属性 url、user、password -->
	    <property name="url" value="jdbc:mysql://127.0.0.1:3306/${parentArtifactId}?useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull" />
	    <property name="username" value="root" />
	    <property name="password" value="mysql" />
	
	    <!-- 配置初始化大小、最小、最大 -->
	    <property name="initialSize" value="1" />
	    <property name="minIdle" value="1" /> 
	    <property name="maxActive" value="20" />
	
	    <!-- 配置获取连接等待超时的时间 -->
	    <property name="maxWait" value="60000" />
	
	    <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
	    <property name="timeBetweenEvictionRunsMillis" value="60000" />
	
	    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
	    <property name="minEvictableIdleTimeMillis" value="300000" />
	
	    <property name="validationQuery" value="SELECT 1 from dual" />
	    <property name="testWhileIdle" value="true" />
	    <property name="testOnBorrow" value="false" />
	    <property name="testOnReturn" value="false" />
	
	    <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
	    <property name="poolPreparedStatements" value="true" />
	    <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	
	    <!-- 配置监控统计拦截的filters -->
	    <property name="filters" value="stat" /> 
	</bean>	
	
	<!-- ********************REDIS配置********************** -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="redisConnectionFactory" />
	</bean>

	<alias name="redisTemplate" alias="cacheRedisTemplate" />

	<alias name="redisTemplate" alias="transportRedisTemplate" />
		
	<beans profile="local">
		<bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" primary="true">
			<property name="hostName" value="localhost" />
		</bean>
	</beans>
	
	<beans profile="default,dev">
		<bean id="redisConfig" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
			<constructor-arg index="0" value="mymaster" />
			<constructor-arg index="1">
				<set>
					<value>soa-dev01.infinitus.com.cn:26379</value>
					<value>soa-dev01.infinitus.com.cn:26479</value>
				</set>
			</constructor-arg>
		</bean>
	</beans>
	
	<beans profile="test">
		<bean id="redisConfig" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
			<constructor-arg index="0" value="mymaster" />
			<constructor-arg index="1">
				<set>
					<value>soa-test01.infinitus.com.cn:26379</value>
					<value>soa-test01.infinitus.com.cn:26479</value>
				</set>
			</constructor-arg>
		</bean>
	</beans>
	
	<beans profile="staging">
		<bean id="redisConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
			<constructor-arg>
				<list>
					<value>xxx:xx</value>
					<value>xxx:xx</value>
				</list>
			</constructor-arg>
			<property name="maxRedirects" value="5" />
		</bean>
	</beans>	

	<beans profile="default,dev,test,staging,prd">
		<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
			<property name="maxTotal" value="100" />
			<property name="maxIdle" value="10" />
			<property name="minIdle" value="1" />
			<property name="maxWaitMillis" value="30000" />
		</bean>
	
		<bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
			<constructor-arg index="0" ref="redisConfig" />
			<constructor-arg index="1" ref="jedisPoolConfig" />
		</bean>
		
		<!-- 给Spring Session使用，一定要标上primary=true -->
		<bean id="sessionRedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" primary="true">
			<constructor-arg index="0" ref="redisConfig" />
			<constructor-arg index="1" ref="jedisPoolConfig" />
			<property name="database" value="9" />
		</bean>
	</beans>

	
	<!-- 根据各个模块下的db/module/changelog.xml文件自动更新数据库 -->
	<beans profile="local">
		<bean id="macula_liquibase" class="liquibase.integration.spring.SpringLiquibase" depends-on="macula_dataSource">
			<property name="dataSource" ref="macula_dataSource" />
			<property name="defaultSchema" value="macula3" />
			<property name="changeLog" value="classpath:db/changelog-macula.xml" />
			<property name="contexts" value="dev, test" />
		</bean>
		
		<bean id="${parentArtifactId}_liquibase" class="liquibase.integration.spring.SpringLiquibase" depends-on="${parentArtifactId}_dataSource">
			<property name="dataSource" ref="${parentArtifactId}_dataSource" />
			<property name="defaultSchema" value="${parentArtifactId}" />
			<property name="changeLog" value="classpath:db/changelog-${parentArtifactId}.xml" />
			<property name="contexts" value="dev, test" />
		</bean>	
	</beans>
	
	
<!-- macula-plugins-alimq使用的PID和CID。使用前要在项目里加入对macula-plugins-alimq的依赖-->
<!--
	<beans profile="default,local,dev">
 		同一个PID 用于发布 ClusteredEvent，BroadcastEvent
		<util:properties id="maculaEventProducerProperties">
			<prop key="ProducerId">PID_MACULA_EVENT_#{T(org.macula.Configuration).getRunMode().toUpperCase()}</prop>
			<prop key="AccessKey">b80b0bcf82234957b72531b1670e090a</prop>
			<prop key="SecretKey">o9qjprQL0UwZrmzTmgHZne9fio0=</prop>
			<prop key="ONSAddr">http://mq.server-test.infinitus.com.cn/rocketmq/nsaddr4broker-internal</prop>
			<prop key="SendMsgTimeoutMillis">3000</prop>
		</util:properties>
		
		CID 用于订阅  ClusteredEvent
		<util:properties id="maculaClusteredEventConsumerProperties" >
			<prop key="ConsumerId">CID_MACULA_CLUSTERED_EVENT_#{T(org.macula.Configuration).getAppGroup()}_#{T(org.macula.Configuration).getAppName()}_#{T(org.macula.Configuration).getRunMode().toUpperCase()}</prop>
			<prop key="AccessKey">b80b0bcf82234957b72531b1670e090a</prop>
			<prop key="SecretKey">o9qjprQL0UwZrmzTmgHZne9fio0=</prop>
			<prop key="ONSAddr">http://mq.server-test.infinitus.com.cn/rocketmq/nsaddr4broker-internal</prop>
			<prop key="MessageModel">CLUSTERING</prop>
		</util:properties>
		
		CID 用于订阅  BroadcastEvent
		<util:properties id="maculaBroadcastEventConsumerProperties">
			<prop key="ConsumerId">CID_#{T(org.macula.Configuration).getAppGroup()}_BROADCAST_EVENT_#{T(org.macula.Configuration).getAppName()}_#{T(org.macula.Configuration).getRunMode().toUpperCase()}</prop>
			<prop key="AccessKey">b80b0bcf82234957b72531b1670e090a</prop>
			<prop key="SecretKey">o9qjprQL0UwZrmzTmgHZne9fio0=</prop>
			<prop key="ONSAddr">http://mq.server-test.infinitus.com.cn/rocketmq/nsaddr4broker-internal</prop>
			<prop key="MessageModel">BROADCASTING</prop>注意这里要显示声明订阅方式为 BROADCASTING
		</util:properties>		
	</beans> -->

	<!-- ZooKeeper 连接 -->
<!-- 	<beans profile="default, local">
		<bean id="maculaCuratorFramework" class="org.macula.core.configuration.reloadable.CuratorFrameworkFactoryBean" init-method="start" destroy-method="stop">
			<constructor-arg index="0" type="java.lang.String">
				<value>172.20.70.193:2181</value> Zookeeper 集群地址
			</constructor-arg>
			<constructor-arg index="1" type="org.apache.curator.RetryPolicy"> 连接重试策略
				<ref bean="maculaCuratorRetryPolicy"/>
			</constructor-arg>
		</bean>	
		
		<bean id="maculaCuratorRetryPolicy" class="org.apache.curator.retry.ExponentialBackoffRetry">
			<constructor-arg index="0">
				<value>1000</value>
			</constructor-arg>
			<constructor-arg index="1">
				<value>3</value>
			</constructor-arg>
		</bean>
	</beans> -->
	

</beans>
	