#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2012 the original author or authors. Licensed under the Apache License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS 
	IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language 
	governing permissions and limitations under the License. -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath*:/META-INF/spring/macula-*-app.xml" />

	<bean id="abstractEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		abstract="true">
		<property name="jpaVendorAdapter">
			<bean class="org.macula.core.hibernate.HibernateJpaVendorAdapter">
				<property name="database" value="${symbol_pound}{T(org.macula.Configuration).getDatabase()}" />
				<property name="showSql" value="${symbol_pound}{T(org.macula.Configuration).getShowSql()}" />
				<property name="generateDdl" value="${symbol_pound}{T(org.macula.Configuration).getGenerateDdl()}" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.ejb.event.post-update">org.macula.core.hibernate.audit.AuditedEventListener</prop>
				<prop key="hibernate.ejb.event.post-delete">org.macula.core.hibernate.audit.AuditedEventListener</prop>
			</props>
		</property>
	</bean>

	<!-- ===========================Macual Schema======================================================================== -->
	<!-- Macula Entity Manager -->
	<bean id="entityManagerFactory_macula" parent="abstractEntityManagerFactory">
		<property name="persistenceUnitManager">
			<bean class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
				<property name="defaultPersistenceUnitName">
					<value>macula</value>
				</property>
				<property name="defaultDataSource" ref="macula_dataSource" />
				<property name="packagesToScan">
					<array>
						<value>org.macula.base.app.domain</value>
						<value>org.macula.base.data.domain</value>
						<value>org.macula.base.acl.domain</value>
						<value>org.macula.plugins.rule.domain</value>
					</array>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="transactionManager_macula" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="${symbol_pound}{T(org.macula.Configuration).getEntityManagerFactoryName()}" />
	</bean>
	
	<!-- @Transaction -->
	<tx:advice id="maculaTxAdvise" transaction-manager="transactionManager_macula" />
	<aop:config>
		<aop:pointcut id="maculaPointcut"
			expression="execution(* org.macula..*.*(..)) and !execution(* org.macula.samples..*.*(..)) and @within(org.springframework.stereotype.Service)" />
		<aop:advisor advice-ref="maculaTxAdvise" pointcut-ref="maculaPointcut" />
		<aop:aspect id="exceptionAspect" ref="exceptionHandler">
			<aop:after-throwing pointcut-ref="maculaPointcut" method="doAfterThrowing" throwing="ex" />
		</aop:aspect>
	</aop:config>


	<bean id="jdbcTemplate_macula" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg index="0" ref="macula_dataSource" />
	</bean>

	<!-- ===========================${parentArtifactId} Schema======================================================================== -->
	<!-- ${parentArtifactId} Entity Manager -->
	<bean id="entityManagerFactory_${parentArtifactId}" parent="abstractEntityManagerFactory">
		<property name="persistenceUnitManager">
			<bean class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
				<property name="defaultPersistenceUnitName">
					<value>${parentArtifactId}</value>
				</property>
				<property name="defaultDataSource" ref="${parentArtifactId}_dataSource" />
				<property name="packagesToScan">
					<array>
						<value>${package}.domain</value>
					</array>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="transactionManager_${parentArtifactId}" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory_${parentArtifactId}" />
	</bean>	

	<!-- @Transaction -->
	<tx:advice id="${parentArtifactId}TxAdvise" transaction-manager="transactionManager_${parentArtifactId}" />
	<aop:config>
		<aop:pointcut id="${parentArtifactId}Pointcut"
			expression="execution(* ${package}..*.*(..)) and @within(org.springframework.stereotype.Service)" />
		<aop:advisor advice-ref="${parentArtifactId}TxAdvise" pointcut-ref="${parentArtifactId}Pointcut" />
		<aop:aspect id="exceptionAspect" ref="exceptionHandler">
			<aop:after-throwing pointcut-ref="${parentArtifactId}Pointcut" method="doAfterThrowing" throwing="ex" />
		</aop:aspect>
	</aop:config>

	<bean id="jdbcTemplate_${parentArtifactId}" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg index="0" ref="${parentArtifactId}_dataSource" />
	</bean>

	<!-- i18n resources -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- Macula Messages -->
				<value>classpath:i18n/macula-core/validation</value>
				<value>classpath:i18n/macula-core/messages</value>
				<value>classpath:i18n/macula-base/messages</value>
				<value>classpath:i18n/macula-plugins-admin/messages</value>
				<value>classpath:i18n/macula-plugins-esb/messages</value>
				<value>classpath:i18n/macula-plugins-mda/messages</value>
				<value>classpath:i18n/macula-plugins-flow/messages</value>
				<value>classpath:i18n/macula-plugins-webapp/messages</value>
				
				<!-- ${parentArtifactId} Messages -->
				<value>classpath:i18n/${parentArtifactId}-admin/messages</value>
				<value>classpath:i18n/${parentArtifactId}-front/messages</value>
				<value>classpath:i18n/${parentArtifactId}-mobile/messages</value>
				<value>classpath:i18n/${parentArtifactId}-repository/messages</value>
				<value>classpath:i18n/${parentArtifactId}-service/messages</value>
				<value>classpath:i18n/${parentArtifactId}-webapp/messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="utf-8" />
		<property name="fallbackToSystemLocale" value="false" />
	</bean>

	<bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
		<property name="locateExistingServerIfPossible" value="true" />
		<property name="agentId" value="" />
	</bean>

	<context:mbean-export server="mbeanServer" />

	<aop:aspectj-autoproxy />
</beans>